<div ng-controller="CVCtrl">
<h3 style="padding-left:20px;">Publications</h3>
<div ng-repeat="pub in publications" style="margin-left:20px;margin-right:20px;height:200px;" class="card">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons top right">more_horiz</i>{{pub.title}}</span>
        <br>
        <p>{{pub.authorlist}}</p>
        <p><i>{{pub.conference}}</i></p>
        <p><a href={{pub.citation}} target="_blank">Citation</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Abstract<i class="material-icons right">close</i></span>
        <p>{{pub.abstract}}</p>
    </div>
</div>

<h3 style="padding-left:20px;">Teaching</h3>
<div ng-repeat="teaching in teachingExperiences" style="margin-left:20px;margin-right:20px;" class="card">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{teaching.title}}</span>
        <br>
        <ul class="collection">
            <li ng-repeat="detail in teaching.details" class="collection-item">{{detail}}</li>
        </ul>
    </div>
</div>

<h3 style="padding-left:20px;">Recent and Relevant Coursework</h3>
<div ng-repeat="semester in coursework" style="margin-left:20px;margin-right:20px;" class="card">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{semester.title}}</span>
        <br>
        <div ng-repeat="course in semester.courses">
            <span style="font-size:18px;font-weight:bold;" class="title">{{course.title}}</span>
            <ul class="collection">
                <li ng-repeat="detail in course.details" class="collection-item">{{detail}}</p>
            </ul>
        </div>
    </div>
</div>

<h3 style="padding-left:20px;">Work Experience</h3>
<div ng-repeat="work in workExperience" style="margin-left:20px;margin-right:20px;" class="card">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <!img ng-src='{{work.logo}}' width=60px style="padding-right:20px;"/>
            <i>{{work.company}}</i> &nbsp; <b>{{work.job}}</b>
            <a class="right">{{work.location}}</a>
        </span>
        <br>
        <div ng-repeat="stint in work.stints">
            <span style="font-size:18px;font-weight:bold;" class="title">{{stint.dates}}</span>
            <ul class="collection">
                <li class="collection-item" ng-repeat="detail in stint.details">{{detail}}</li>
            </ul>
        </div>
    </div>
</div>
</div>