<div ng-controller="GalleryCtrl">
    <h1>Hello {{galleryName}}</h1>
    <div class="row" style="margin-left:20px;">
        <div ng-repeat="img in images" ng-if="img.folder == galleryName" class=" gallery-thumbnail">
            <div class="card medium">
                <div class="card-image">
                    <img style="width:100%;bottom:0;" class="materialboxed" ng-src="img/{{galleryName}}/{{img.file}}" on-last-repeat data-caption={{img.caption}}></img>
                </div>
                <div class="card-content" style="position:absolute;bottom:0;">
                    <h5>{{img.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>